[Service]
Environment="OLLAMA_CONTEXT_LENGTH={{OLLAMA_CONTEXT_LENGTH}}"
Environment="OLLAMA_FLASH_ATTENTION={{OLLAMA_FLASH_ATTENTION}}"
Environment="OLLAMA_KV_CACHE_TYPE={{OLLAMA_KV_CACHE_TYPE}}"
Environment="OLLAMA_NUM_PARALLEL={{OLLAMA_NUM_PARALLEL}}"
Environment="OLLAMA_MAX_LOADED_MODELS={{OLLAMA_MAX_LOADED_MODELS}}"
